@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #FFFFFF;
background-color: #3e7ae9;


}

html,body{
  max-width: 200vw;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

button{
  text-decoration: none;
  color: #000000;
}
p{
  text-align: center;
}

button{
  text-align: center;
}
